{% extends 'base.html' %}

{% block title %}
<title> {{ animal.nombre }} - Detalle </title>
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='sass/adoptar_detalle.css') }}">
{% endblock %}

{% block body %}
<section class="detalle-animal">
    <div class="detalle-imagen">
      <img src="{{ animal.imagen }}" alt="Imagen de {{ animal.nombre }}">
    </div>
    <div class="detalle-info">
      <h1 class="detalle-nombre">{{ animal.nombre }}</h1>
      <p class="detalle-descripcion">{{ animal.descripcion }}</p>
      <div class="botones">
        <a href="{{ url_for('adoptar') }}" class="btn-volver"> Volver a la adopción</a>
        <a href="{{ url_for('solicitar_adopcion', animal_id=animal.id) }}" class="btn-adoptar">Solicitar adopcion</a>
      </div>
    </div>
  </section>
  
{% endblock %}
{% block footer %}
    
{% endblock %}
