{% extends './base.html' %}

{% block title %}Perfil{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='sass/perfil.css') }}">
{% endblock %}

{% block body %}
<section>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <span class="{{ category }}">{{ message }}</span>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <main>
    <div>
      <img src="https://media.lordicon.com/icons/wired/lineal/44-avatar-user-in-circle.gif" alt="">
    </div>
    <form method="POST" class="perfil-form">
        {{ form.hidden_tag() }}
        
        <h1>Perfil</h1>



        <div>
          <label for="nombre">{{ form.nombre.label }}</label>
        {{ form.nombre }}
        </div>
        
        <div>
          <label for="correo">{{ form.correo.label }}</label>
        {{ form.correo }}
        </div>
        
        <div>
          <label for="telefono">{{ form.telefono.label }}</label>
          {{ form.telefono }}
        </div>
      
        {{ form.submit }}

        <p><a href="{{ url_for('reset_request') }}">Cambiar contraseña</a></p>
    </form>

  </main>
</section>


{% endblock %}