{% extends './base.html'%}

{% block title %}Crear cuenta{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='sass/register.css') }}">
{% endblock %}

{% block body %}
<section>

    <form action="/register" method="POST">
        <h1>Crear cuenta</h1>

        <div>
            {{ form.nombre.label }}
            {{ form.nombre(placeholder='Escriba su nombre completo') }}
        </div>
        
        <div>
            {{ form.email.label }}
            {{ form.email(placeholder='Escriba su correo electrónico') }}
        </div>
    
        <div>
            {{ form.password.label }}
            {{ form.password(placeholder='Escriba su contraseña') }}
        </div>
    
        <div>
            {{ form.telefono.label }}
            {{ form.telefono(placeholder='Escriba su número de teléfono') }}
        </div>        
    
        <div>
            {{form.submit}}
        </div>
    </form>
</section> 


{% endblock %}