{% extends "base.html" %}
{% block title %}Administrar Animales{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='sass/listar_animales.css') }}">
{% endblock %}

{% block body %}
<section>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 class="mb-4">Gestión de Animales</h1>

        <div>
            <a href="{{ url_for('admin.agregar_animal') }}" class="btn btn-success mb-4">Agregar nuevo animal</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for animal in animales %}
                <tr>
                    <td>{{ animal[0] }}</td>
                    <td>{{ animal[1] }}</td>
                    <td>{{ animal[2] }}</td>
                    <td>
                        <img src="{{ animal[3] }}" alt="Imagen">
                    </td>
                    <td>
                        <form action="{{ url_for('admin.eliminar_animal', id=animal[0]) }}" method="POST">
                            <a href="{{ url_for('admin.editar_animal', id=animal[0]) }}">Editar</a>
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}
